* {
  box-sizing: initial;
}

body * {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: white;
}

.content {
  background: url("../images/wood.png") repeat-y top left;
  overflow: auto;
}

.tapList, .flavorList {
  background-image: url("../images/chalkboard.png");
  background-size: cover;
  margin: 20px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 2px 2px #000000;
  /*border: #393939 solid 5px;*/
}

.tapList__title, .flavorList__title {
  color: white;
  font-size:30px;
}

.addFlavor {
  background: rgba(255,255,255,0.35);
  cursor: pointer;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 8px;
  margin: 20px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  text-shadow: 1px 1px 2px #000000;
}

.flavor-container {
  margin: 20px 0px;
  border: #393939 solid 5px;
}

.flavor {
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  height: 130px;
}

.flavor__name input {
  text-align: center;
  background: transparent;
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
  outline: none;
  border: none;
  margin: 5px 0px;
  -webkit-appearance: none;
  text-shadow: 1px 1px 2px #000000;
  line-height: 1.35;
}

.flavor__field {
  text-transform: uppercase;
  font-size: 17px;
}

.flavor__buttons * {
  font-size: 17px;
  cursor: pointer;
}

.flavor__field__content {
  height: 50px;
  align-items: center;
  justify-content: center;
}

.flavor__field__content * {
  -ms-align-items: center;
  align-items: center;
}

.update-flavor {
  background-color: white;
  color: black;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  cursor: default;
  border: none;
  margin: 5px;
  padding: 5px;
  border-radius: 0;
  border: 1px solid black;
  outline: none;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  -webkit-appearance: none;
  border: none;
  outline: none;
}

.bg-pink, option[value="pink"] {
  background-color: #CB7F7F;
  text-shadow: 1px 1px 2px #000000;
}

.bg-orange, option[value="orange"] {
  background-color: #FC934C;
  text-shadow: 1px 1px 2px #000000;
}

.bg-yellow, option[value="yellow"] {
  background-color: #FFD46E;
  text-shadow: 1px 1px 2px #000000;
}

.bg-green, option[value="green"] {
  background-color: #ABCB7F;
  text-shadow: 1px 1px 2px #000000;
}

.bg-blue, option[value="blue"] {
  background-color: #8BC4FF;
  text-shadow: 1px 1px 2px #000000;
}

.bg-purple, option[value="purple"] {
  background-color: #CC8BFF;
  text-shadow: 1px 1px 2px #000000;
}
